<h1 class="text-center border-bottom pb-2">{{titre}}</h1>
<div class="col-md-11 mx-auto rounded border shadow m-4 p-4" id="login">
        <div class="champ">
            <label>Mail:</label>
            <input type="text" id="mail" [(ngModel)]="formulaire.mail">
        </div>
        <div class="champ">
            <label>Mot de passe:</label>
            <input type="password" id="mdp" [(ngModel)]="formulaire.mdp">
        </div>
        <div class="col-md text-center">
            <button class="btn btn-primary mx-auto" type="button" (click)="envoi()">
                <span *ngIf="loading">
                    <i class="fa-solid fa-spinner fa-spin-pulse"></i>
                </span>
                Connexion
            </button>
        </div>
    <div class="col-md-2 mx-auto text-center" *ngIf="inscription!=''">
        <p>ou</p>
        <button class="btn btn-primary mx-auto" (click)="inscriptionPage()">S'inscrire</button>
    </div>
</div>
    