#restaurant{
    border: solid 1px blue;
    width: 40%;
    padding:0.5rem
}
#entete{
    border: solid green 1px;
    display: grid;
    grid-template-columns: 80% 10%;
}

p{
    border: solid 1px black;
    font-size:small
}

#contenu{
    display: grid;
    grid-template-columns: 80% 10%;
}