.champ{
    display:grid;
    grid-template-columns:2fr 7fr;
    padding:1.5%;
    width:85%
}

.validation{
    display:flex;
    margin-top:1%;
    margin-right:5%;
    flex-direction: row-reverse;
}

label{
    text-align: end;
}
input{
    padding-left: 2%;
    margin-left:2%;
    border-radius: 5%;
}

#milieu{
    display:grid;
    min-height:calc(100vh - 10vh - 10vh);
    grid-template-columns:2fr 5fr;
}


/* *{
    font-family:Calibri;
    box-sizing: border-box;
    scrollbar-width:thin;
	scroll-behavior: smooth;
}

a{
    text-decoration: none;
}






 #banniere{
    min-height:10vh;
}

#milieu{
    display:grid;
    grid-template-columns: 2fr 6fr;
    height: calc(100vh - 10vh - 10vh);
    margin-top:0.5rem;
    margin-bottom:0.5rem
}

#changeant{
    margin-left:0.5rem;
    overflow-y:scroll;
}

.bvert{
    color:white;
    background-color:green   
}
*/