<div>
    <h1 class="text-center border-bottom p-2">{{titre}}</h1>
    <div class="col-md-11 mx-auto rounded border shadow p-4 m-4" id="login">
        <div class="champ">
            <label>Nom:</label>
            <input type="text" [(ngModel)]="formulaire.nom">
        </div>
        <div class="champ">
            <label>Mail:</label>
            <input type="text" id="mail" [(ngModel)]="formulaire.mail">
        </div>
        <div class="champ">
            <label>Mot de passe:</label>
            <input type="password" id="mdp" [(ngModel)]="formulaire.mdp">
        </div>
        <div class="col-md text-center">
            <button class="btn btn-primary" type="button" (click)="envoi()"><span></span>Enregistrer</button>
        </div>
        <div class="col-md-2 mx-auto text-center">
            <p>ou</p>
            <button class="btn btn-primary mx-auto" (click)="loginPage()">Se connecter</button>
        </div>
    </div>    
</div>