<h1 class="text-center border-bottom p-2">{{titre}} 
    <span *ngIf="loading">
        <i class="fa-solid fa-spinner fa-spin-pulse"></i>
    </span>
</h1>
<div id="recherche">
    <input type="text" placeholder="nom du plat">
    <button class="btn btn-primary btn-sm">Rechercher</button>
</div>
<div>
    <button class="btn btn-success m-2" *ngIf="!ajout" (click)="switchAjout()"> <i class="fa fa-plus-square" aria-hidden="true"></i> Ajouter</button>
    <button class="btn btn-warning btn-small" *ngIf="ajout" (click)="switchAjout()">Fermer</button>
    <div class="p-2 m-2 border" *ngIf="ajout">
        <div class="champ">
            <input type="text" placeholder="nom du plat" [(ngModel)]="plat.libelle">
        </div>
        <div class="champ">
            <input type="text" placeholder="prix (ariary)" [(ngModel)]="plat.prix"> 
        </div>
        <div class="champ">
            <input type="text" placeholder="description" [(ngModel)]="plat.description">    
        </div>
        <div class="validation">
            <button class="btn btn-primary btn-sm" (click)="enregistrerPlat()">Enregistrer</button>
        </div>
    </div>
</div>
<div>
    <div *ngIf="plats.length==0" class="pt-2 mt-2 alert alert-info text-center" role="alert">
        Aucun plat à afficher
    </div>
    <div class="p-1 m-2 shadow-sm border col-md-5" *ngFor="let plat of plats; let i=index">
        <p>{{plat.libelle}}</p>
        <p>prix: {{plat.prix}}</p>
        <p>{{plat.description}}</p>
        <div class="text-right">
            <!-- <button class="btn btn-primary">Modifier</button> -->
            <button class="btn btn-danger" (click)="supprimer(i)">Supprimer</button>
        </div>
        <!-- <div id="_{{i}}">
            <input type="text" value="{{plat.libelle}}">
            <input type="text" value="{{plat.prix}}">
            <input type="text" value="{{plat.dscription}}">
            <button class="btn btn-primary">Enregistrer</button>
        </div> -->
    </div>
</div>